<table class="tftable" border="1">
  <tr><th>Header 1</th><th>Header 2</th><th>Header 3</th><th>Header 4</th><th>Header 5</th><th>Header 6</th><th>Header 7</th><th>Header 8</th><th>Header 9</th><th>Header 10</th></tr>
  <tr *ngFor="let item of sheet">
    <td>{{item.Header1}}</td>
    <td>{{item.Header2}}</td>
    <td>{{item.Header3}}</td>
    <td>{{item.Header4}}</td>
    <td>{{item.Header5}}</td>
    <td>{{item.Header6}}</td>
    <td>{{item.Header7}}</td>
    <td>{{item.Header8}}</td>
    <td>{{item.Header9}}</td>
    <td>{{item.Header10}}</td>
  </tr>
</table>

<button (click)="exportAsXLSX()">
  click export Excel
</button>
